*{
	padding: 0px;
	margin: 0px;
}

body, h1. h2, h3, h4, h5, h6, span, div, article, section, aside, hgroup, header, footer {
	display: block;	
}

body{
	display: block;
	width: 100%;
	margin: 0px auto;
	background: url(../search_images/bk.png) repeat;
}

	#headwrapper{
		max-width: 1080px;
		margin: 0px auto;
		display: block;
		width: 100%;
	}
		#shadowrap{
				box-shadow: 0px 0px 20px black;
				position: relative;
				top: 35px;
		}
		#header_setup{
			display: -moz-box;
			-moz-box-flex: 1;
			-moz-box-orient: horizontal;
			height: 100px;
			margin: 0px auto;
			max-width: 1080px;
		}
		.logo{
			display: -moz-box;
		}
		.time{
			display: -moz-box;
			display: -moz-box;
			font-size: 48px;
			color: #333;
			position: absolute;
			right: 0;
			top: 60px;
		}
		
		.header_icons{
			display: block;
			height:40px;
			background: #333;
		}
		.header_icons ul{
			display: block;
			height: 30px;
		}
		
		.header_icons ul li{
			display: -moz-box;
			-moz-box-flex: 1;
			font-size: 18px;
			-moz-box-flex: 1;
			padding: 0px auto;
		}
		
		.header_icons ul #last{
			padding-right: 32px;
		}
		.header_icons ul:hover{
			box-shadow: 0px 0px 5px black;
			
		}

			header{
				position: relative;
				max-width: 1080px;
				margin: 0px auto;
			}
				.gallery{
					position:relative;
					height: 330px;
					max-width: 1080px;
					margin: 0px auto;
					width: 100%;
				}
				.gallery IMG {
					display: -moz-box;
					height:320px;
					position: absolute;
					z-index:1;
					opacity:0;
					width: 100%;
					margin: 0px auto;
					max-width:1080px;
				}
				.gallery IMG.active {
					z-index:3;
					opacity:1;
				}
				.gallery IMG.last-active {
					z-index:2;
				}
				#latest{
					display: none;
					background: white;
					color: #333;
					margin: 0px auto;
					position: relative;
					left: 0px;
					right: 0px;
					max-width: 1080px;
					width: 100%;
				}
		#mainwrapper{
			display: -moz-box;
			max-width: 1080px;
			margin: 0px auto;	
			width: 100%;
		}

			#sidebar{
				position: relative;
				left: 0px;
				top: 0px;
				width: 220px;
				border-top: 1px solid grey;
				border-right: 2px solid grey;
				display: -moz-box;
				display: -moz-box;
				-moz-box-orient: vertical;
				-moz-box-shadow: 2px 4px 5px black;
				bottom: 50px;
				background: url(../search_images/grey-repeating-background-8.jpg) repeat;
			}
				#search_display{
					position: relative;
					top:0;
					bottom: 0;
					display: -moz-box;
					-moz-box-flex:1;
					display: block;
					height: auto;
					margin: auto;
				}
				#search_display::-moz-scrollbar{
					width: 15px;
				}
				#search_display::-moz-scrollbar-track{
					background-color: #333;
				}
				#search_display::-moz-scrollbar-thumb {
					  background-color: rgba(0, 0, 0, 0.2);
				}
				#search_display::-moz-scrollbar-button {
					  background-color: #F60;
				}
				#search_display::-moz-scrollbar-corner {
					  background-color: black;
				}
				.searchbox{
					display: -moz-box;
					position: relative;
					width: 194px;
					height: 30px;
					color: rgba(0,0,0,0.5);
				}
				#search{
					border-left: 10px solid #222;
					width: 184px;
					-moz-box-align: left;
					-moz-box-align: left;
					border-bottom: 0px solid #09F;
					border-top: 0px solid #09F;
					border-right: 0px solid #09F;
					padding-left: 5px;
				}
				.searchbar{
					display: -moz-box;
					-moz-box-orient: horizontal;
					display: -moz-box;
					-moz-box-orient: horizontal;	
				}	
				#search_butt{
					color: black;
					padding: 5px;
					border-top: 0px solid #09F;
					border-right: 0px solid #09F;
					background: white;
				}
					.search_option{
						padding: 10px;	
						background: rgba(0,0,0,0);
						color: white;
						border-left: 10px solid rgba(0,0,0,0.7);
						border-bottom: 1px solid #999;
						height: 20px;
					}
					.search_option:hover{
						border-left: 15px solid rgba(0,0,0,0.7);
						background: rgba(0,0,0,0.4);
					}
					#searchimg{
						width:12px;
						height: 12px;
					}
					#searchimg:hover{
						opacity: 0.7;					
					}
					#display{
						display: -moz-box;
						background: white;
						-moz-box-orient: vertical;
						margin: 0px auto;
					}
					#hdisplay{
						display: -moz-box;
						background: white;
						-moz-box-orient: vertical;
						margin: 0px auto;
						max-width: 1080px;
						width: 100%;
					}
					.search_option_open{
						display: none;
						height: 20px;
						padding: 10px;
						border-left: 10px solid #333;
						border-right:  1px solid black;
						border-bottom:  1px solid black;
						-moz-box-flex: 1;
						-moz-transition: border-left 0.51s, display 1s;
							-moz-box-flex: 1;
						-moz-transition: border-left 0.51s, display 1s;
						color: #333;
						text-decoration: none;
						-moz-transition: padding-left .21s, border-left .21s, color .21s;
						-moz-transition: padding-left .21s, border-left .21s, color .21s;
						text-transform: capitalize;
						z-index: 200000;
					}
					
					.search_option_open:hover{
						background: #333;
						color: white;
						border-left: 10px outset white;
						padding-left: 20px;
					}
					
					.search_option:hover .search_option_open{
						display: -moz-box;
					}
					
					.ul{
						display: -moz-box;
						-moz-box-orient: vertical;
						display: -moz-box;
						-moz-box-orient: vertical;
						background: white;
						color: black;
						position: relative;
						left: 197px;
						top: -31px;
					}
					
					div .alt_image { 
					display:none; 
					}
					
					ul a{
						color: orange;
						text-decoration: none;
						margin: 0px;
					}
					
					ul li{
						background: #333;	
						height: 30px;
						padding-top: 6px;
					}
					
					li:hover #a{
						color: #DDDDDD;
					}
					li:hover{
						background: black;	
					}
					
					
					li:active #a{
						color: #AAAAAA;
					}
					li:active{
						background: black;	
					}
					
					.show_on_click{
						display: none;
					}


			



.clear{
	display: block;
	width: auto;
	-moz-box-flex: 1;
}



.video{
	display: inline-block;
	border: 1px solid #000;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 15px;
	padding: 5px;
}
.video:hover img{
	opacity: 0.9;
}

.video:hover{
	-moz-box-shadow: 0px 0px 15px #333;	
	border: 1px solid #333;
}

#video_section{
	display: -moz-box;
	z-index: 100000;
}




.videobox{
	display: none;
	margin: 0px auto;
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 200px;
	right: 0px;
	top: 90px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

#video_section h1, #news_section h1{
	background: #333;
	color: white;
	padding-left: 20px;
	font-family: !Y2KBUG, "10.15 Saturday Night BRK", "11S01 Black Tuesday", "1980 Portable", "Alte Caps";
	font-style: normal;
	}
	
	#news_container{
		display: -moz-box;
		-moz-box-orient: horizontal;
		display: -moz-box;
		-moz-box-orient: horizontal;
		margin: 9px;
	}
	#news_section{
		display: block;
		width: 100%;	
	}
	
	
.title{
	width: 160px;
	color: white;
	word-wrap:break-word;
	margin: 0px auto;
	text-align: center;
	background: #333;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	border: 1px solid black;
}


.videoset_container{
	margin: 2px;
	display: inline-table;
}

.videoset_container:hover .title{
		-moz-box-shadow: 0px 0px 12px black;
		-moz-box-shadow: 0px 0px 12px black;
}

.voverlay{
	text-decoration: none;
	color: #333;
}
.videoset_container:hover .voverlay{
	opacity: 0.8;
}

.suggestion{
	display: -moz-box;
	position: fixed;
	right: -200px;
	border: 1px solid black;
	-moz-transition: right 0.9s;
	-moz-transition: right 0.9s;
	width: 200px;
	top: 75%;
	padding: 5px;
	z-index: 200;
}

.suggestion form{
	display: -moz-box;
	display: -moz-box;
	position: relative;
	left: -150px;	
}
.suggestion:hover{
	right: 0px;
}

.open{
	position: relative;
	left: -99px;
	top: 45px;
	width: 152px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	-moz-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	background: #333;
	color: white;
	font-family:"Times New Roman", Times, serif;
	font-size: 25px;
}

.instruct{
	display: block;
	background: white;
	margin: 0px auto;
}


.sug_response{
	display:-moz-box;
	display:-moz-box;
	position: relative;
	margin: auto;
	left: 0px;
	right: 0px;
	bottom: 45%;
	top: 45%;
	width: 150px;
	height: 25px;
	padding-top: 4px;
	-moz-box-pack: center;
	background: #9C0;
	color: #333;
	font-family: "MS Serif", "New York", serif;
}

.respholder{
	display: none;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	margin: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.ad{
	display: none;
	width: 300px;
	height: 200px;
	background: rgba(0,0,0,0.4);
	border: 1px solid #999999;
	z-index: 20;
	-moz-transition: width 1s, height 1s;
}

.ad:hover{
	width: 600px;
	height: 400px;
	}

#a1{
	position: fixed;
	left: 0px;
	top: 0px;
}

#a2{
	position: fixed;
	left: 0px;
	top: 250px;
}
#a3{
	position: fixed;
	left: 0px;
	top: 500px;
}
#a4{
	position: fixed;
	left: 0px;
	top: 750px;
}
#a5{
	position: fixed;
	right: 0px;
	top: 0px;
}
#a6{
	position: fixed;
	right: 0px;
	top: 250px;
}

#a7{
	position: fixed;
	right: 0px;
	top: 500px;
}

.check{
	position: fixed;
	background: black;
	color: red;
}

.footer{
	position: relative;
	bottom: 0px;
	display: block;
	margin: 0 auto;
	padding: 14px;
	height: 300px;
	background: center url(../search_images/footer2.png) rgba(60, 60, 60, 1);
	top: 36px;
	z-index: -999999999;
	-moz-box-shadow: 0px 0px 30px black;
	-moz-box-shadow: 0px 0px 30px black;
}

.footer_holder{
	color: #000;
	max-width: 1080px;
	margin: 0px auto;
	
}
